In [ ]:
import pandas as pd
import geopandas as gpd
from keplergl import KeplerGl

In [ ]:
gdf = gpd.read_file('./Downloads/F_FAC_BUILDING_부산\F_FAC_BUILDING_26_202306.shp', encoding='euc-kr')

In [ ]:
gdf.tail()

,GRND_FLR,STRCT_CD,USABILITY,BLDG_PNU_Y,VIOL_BD_YN,VL_RAT,SGG_OID,BLDRGST_PK,DONG_NM,ARCHAREA,...,BLDG_PNU,BC_RAT,UGRND_FLR,PLATAREA,USEAPR_DAY,PNU,GB_CD,BLD_UNLICE,COL_ADM_SE,geometry
472580,7.0,21,03000,NaN,0,343.0,22472,16041,NaN,101.0,...,NaN,55.0,1.0,183.0,20010616,2641010900102230018,0,NaN,26410,"POLYGON ((390229.055 195351.236, 390227.431 19..."
472581,1.0,32,04000,NaN,0,8.0,79056,100291161,주건축물제1동,37.0,...,NaN,8.0,0.0,447.0,20211217,2671025926102130000,0,NaN,26710,"POLYGON ((405243.022 201746.010, 405246.649 20..."
472582,2.0,21,06000,NaN,0,0.0,15135,8924,바동,334.0,...,NaN,0.0,1.0,0.0,19940701,2671025921106480001,0,NaN,26710,"POLYGON ((401226.869 198288.910, 401217.852 19..."
472583,1.0,51,01000,NaN,0,0.0,13525,9076,NaN,62.0,...,NaN,0.0,0.0,0.0,19561020,2671025922102130005,0,NaN,26710,"POLYGON ((404141.425 199365.411, 404130.743 19..."
472584,3.0,11,04000,NaN,0,179.0,10058,14245,NaN,83.0,...,NaN,59.0,1.0,139.0,19890726,2641010400109720014,0,NaN,26410,"POLYGON ((389732.672 198798.422, 389732.907 19..."

In [ ]:
gdf26350 = gdf[gdf['COL_ADM_SE'].str.contains('26350')==True]

In [ ]:
gdf26350.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Index: 32744 entries, 2488 to 470681
Data columns (total 27 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   GRND_FLR    32741 non-null  float64
 1   STRCT_CD    19809 non-null  object
 2   USABILITY   19809 non-null  object
 3   BLDG_PNU_Y  0 non-null      object
 4   VIOL_BD_YN  19733 non-null  object
 5   VL_RAT      32706 non-null  float64
 6   SGG_OID     32744 non-null  int64
 7   BLDRGST_PK  19808 non-null  object
 8   DONG_NM     3078 non-null   object
 9   ARCHAREA    32741 non-null  float64
 10  HEIGHT      32742 non-null  float64
 11  BLD_NM      3977 non-null   object
 12  BD_MGT_SN   20915 non-null  object
 13  UFID        32744 non-null  object
 14  GEOIDN      25497 non-null  object
 15  TOTALAREA   32744 non-null  float64
 16  REGIST_DAY  32744 non-null  object
 17  BLDG_PNU    0 non-null      object
 18  BC_RAT      32706 non-null  float64
 19  UGRND_FLR   32685 non-null  float64
 20  PLATAREA    32706 non-null  float64
 21  USEAPR_DAY  20433 non-null  object
 22  PNU         32744 non-null  object
 23  GB_CD       19807 non-null  object
 24  BLD_UNLICE  0 non-null      object
 25  COL_ADM_SE  32744 non-null  object
 26  geometry    32744 non-null  geometry
dtypes: float64(8), geometry(1), int64(1), object(17)
memory usage: 7.0+ MB

In [ ]:
import gc
del gdf
gc.collect()

15

In [ ]:
import geopandas as gpd
import numpy as np

gdfv = gpd.read_file('./Documents/등고선.shp', encoding='euc-kr')

In [ ]:
gdfv.head()

   fid  ID   ELEV                                           geometry
0  1.0   0  190.0  LINESTRING (129.14256 35.25482, 129.14306 35.2...
1  2.0   1  200.0  LINESTRING (129.14234 35.25464, 129.14255 35.2...
2  3.0   2  210.0  LINESTRING (129.14192 35.25465, 129.14191 35.2...
3  4.0   3  220.0  LINESTRING (129.14163 35.25465, 129.14162 35.2...
4  5.0   4  230.0  LINESTRING (129.14134 35.25466, 129.14133 35.2...

                         lat long height geometry
0  391712.81 292545.12 34.80                 None
1  391712.81 292455.12 37.12                 None
2  391712.81 292365.12 39.03                 None
3  391802.81 292725.12 28.53                 None
4  391802.81 292635.12 39.29                 None
            lat       long  height geometry
0     391712.81  292545.12   34.80     None
1     391712.81  292455.12   37.12     None
2     391712.81  292365.12   39.03     None
3     391802.81  292725.12   28.53     None
4     391802.81  292635.12   39.29     None
...         ...        ...     ...      ...
8185  401522.81  289935.12    6.82     None
8186  401522.81  289845.12    2.85     None
8187  401522.81  289665.12    5.89     None
8188  401522.81  289575.12    4.48     None
8189  401522.81  289485.12    2.27     None

[8190 rows x 4 columns]

            lat       long  height geometry
0     391712.81  292545.12   34.80     None
1     391712.81  292455.12   37.12     None
2     391712.81  292365.12   39.03     None
3     391802.81  292725.12   28.53     None
4     391802.81  292635.12   39.29     None
...         ...        ...     ...      ...
8185  401522.81  289935.12    6.82     None
8186  401522.81  289845.12    2.85     None
8187  401522.81  289665.12    5.89     None
8188  401522.81  289575.12    4.48     None
8189  401522.81  289485.12    2.27     None

[8190 rows x 4 columns]

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

{'init': 'epsg:4326', 'no_defs': True}

In [ ]:
map = KeplerGl(height=600, width=800)
#show the map
map

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

C:\Users\user\.conda\envs\geo_env\Lib\site-packages\IPython\core\formatters.py:367: FormatterWarning: text/html formatter returned invalid type <class 'bytes'> (expected <class 'str'>) for object: KeplerGl(height=600)
  warnings.warn(

KeplerGl(height=600)

In [ ]:
map.add_data(data=gdf26350, name= "HaeUndaebldg01")

C:\Users\user\.conda\envs\geo_env\Lib\site-packages\jupyter_client\session.py:719: UserWarning: Message serialization failed with:
Out of range float values are not JSON compliant
Supporting this message is deprecated in jupyter-client 7, please make sure your message is JSON-compliant
  content = self.pack(content)

In [ ]:
map.add_data(data=gdfv, name= "Dem")

C:\Users\user\.conda\envs\geo_env\Lib\site-packages\jupyter_client\session.py:719: UserWarning: Message serialization failed with:
Out of range float values are not JSON compliant
Supporting this message is deprecated in jupyter-client 7, please make sure your message is JSON-compliant
  content = self.pack(content)

In [ ]:
import pyproj
from fiona.crs import from_epsg
gdf26350.crs = '+proj=tmerc +lat_0=38 +lon_0=127.0028902777778 +k=1 +x_0=200000 +y_0=500000 +ellps=bessel +units=m +no_defs +towgs84=-115.80,474.99,674.11,1.16,-2.31,-1.63,6.43'
gdf26350.crs

<Bound CRS: +proj=tmerc +lat_0=38 +lon_0=127.0028902777778 +k= ...>
Name: unknown
Axis Info [cartesian]:
- E[east]: Easting (metre)
- N[north]: Northing (metre)
Area of Use:
- undefined
Coordinate Operation:
- name: Transformation from unknown to WGS84
- method: Position Vector transformation (geog2D domain)
Datum: Unknown based on Bessel 1841 ellipsoid using towgs84=-115.80,474.99,674.11,1.16,-2.31,-1.63,6.43
- Ellipsoid: Bessel 1841
- Prime Meridian: Greenwich
Source CRS: unknown

In [ ]:
gdf26350 = gdf26350.to_crs(epsg=4326)
gdf26350.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [ ]:
{'init': 'epsg:4326', 'no_defs': True}

{'init': 'epsg:4326', 'no_defs': True}